<%- include("partials/header.ejs") %>


<div id="welcome">
    <h1>Welcome to Blogger!</h1>
    <form id="portal" action="/portal" method="POST">
        <input type="submit" value="Start Bloggin'">
      </form>
</div>


<%- include("partials/footer.ejs") %>